<div id="github-link">
    This is an open source project. Start it on GitHub! <a class="github-button" href="https://github.com/manojpawarsj12/stranger-chat" data-size="large" data-show-count="true" aria-label="Star manojpawarsj12/stranger-chat on GitHub">Star</a>
</div>

</body>


</html>