<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="/public/skeleton.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='/socket.io/socket.io.js' > </script>
<script async defer src="/public/js/buttons.js"></script>
    <title class"title">Vent Chat</title>
</head>

<body>
