<%- include('partials/header'); -%>
<link rel="stylesheet" href="style.css">
<a href="/logout">logout</a>
<div id="messages"></div>
<form class="chat-controls" id="message_input_form">
    <div class="chat-controls">


        <textarea class="u-full-width" type="text" id="message_input" name="content"
            placeholder="Enter your message here" style="margin-bottom: 0px;"></textarea>
        <button class="butt2 button-primary" type="submit">Send</button>

    </div>

</form>
<script type="text/javascript">
 var names = <%- JSON.stringify(clientusername.username); %>;
 console.log(names);
document.getElementById("message_input_form").onsubmit = async function(e) {
    e.preventDefault();
    let chattext = message_input.value.trim();
    try{
        const msgroute = "/message/"+names;
        const res = await fetch(msgroute,{
            body : JSON.stringify(chattext),
            method : "POST",
            header : "Content-Type: application/json"
        });
        const data = await res.json();
        console.log(data);
        const newNode = document.createElement("div");
        newNode.innerHTML = `<b>${data}:&nbsp;</b>`;
        document.getElementById("messages").appendChild(newNode);
        //chatContainer.scrollTop = chatContainer.scrollHeight;
    }
    catch(err){
        console.log(err);
    }
}
   
    
</script>


</body>


</html>